:global(html),
:global(body),
:global(#root) {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pageBackground {
  background: #eff1f7;
  min-height: 100vh;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100%;

  img {
    width: 20vw;
    object-fit: cover;
  }
  @media screen and (max-width: 576px) {
    img {
      width: 50vw;
      object-fit: cover;
    }
  }
}

.searchSection,
.fullFormSection {
  width: 100%;
  max-width: 500px;
}
.errorMessage {
  color: #ff4444;
  margin-top: 8px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 0.8rem;
}

.radioGroup {
  margin-bottom: 1.8rem;
  display: flex;
  gap: 1rem;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: black;
  font-size: 0.8rem;
}

.loginContent {
  width: 100%;
  display: flex;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  .inputForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputWrapper {
      position: relative;
      width: 100%;
      margin-bottom: 2.9rem;
      display: flex;
      flex-direction: column;
      font-family: Arial, sans-serif;
      .floatingLabel {
        position: absolute;
        top: -8px;
        left: 16px;
        padding: 0 5px;

        color: black;
        font-size: 14px;
        z-index: 2;
        background-color: #eff1f7;
      }
      .inputField {
        position: relative;
        border: 2px solid #4bc6f6;
        border-radius: 8px;
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        select {
          flex: 1;
          padding: 8px 0;
          border: none;
          outline: none;
          background-color: #f6f6f6;
          font-size: 16px;
          color: #555;
          border-radius: 8px;
          @media screen and (max-width: 576px) {
            font-size: 14px;
          }
        }
      }
    }

    input {
      border: none;
      outline: none;
      flex: 1;
      font-size: 16px;
      color: #555;
      padding: 8px 0;
      background-color: #f6f6f6;
      border-radius: 6px;
      padding-left: 8px;
    }

    input::placeholder {
      color: #a3a3a3;
    }

    input:not(:placeholder-shown) {
      font-weight: normal;
      letter-spacing: 2px;
      color: #000;
    }

    input[readonly] {
      cursor: default;
      background-color: #cecece;
    }
    .icon {
      position: absolute;
      right: 12px;
      display: flex;
      align-items: center;
    }

    .icon img {
      width: 20px;
      height: 20px;
      opacity: 0.6;
    }
  }
}
